{% if section.settings.social_icon_1_name != blank %}
<li class="social__item">
  <a href="{{ section.settings.social_icon_1_url }}" class="social__link">
    <i class="fa fa-{{ section.settings.social_icon_1_name }}"></i>
  </a>
</li>
{% endif %}
{% if section.settings.social_icon_2_name != blank %}
<li class="social__item">
  <a href="{{ section.settings.social_icon_2_url }}" class="social__link">
    <i class="fa fa-{{ section.settings.social_icon_2_name }}"></i>
  </a>
</li>
{% endif %}
{% if section.settings.social_icon_3_name != blank %}
<li class="social__item">
  <a href="{{ section.settings.social_icon_3_url }}" class="social__link">
    <i class="fa fa-{{ section.settings.social_icon_3_name }}"></i>
  </a>
</li>
{% endif %}
{% if section.settings.social_icon_4_name != blank %}
<li class="social__item">
  <a href="{{ section.settings.social_icon_4_url }}" class="social__link">
    <i class="fa fa-{{ section.settings.social_icon_4_name }}"></i>
  </a>
</li>
{% endif %}
{% if section.settings.social_icon_5_name != blank %}
<li class="social__item">
  <a href="{{ section.settings.social_icon_5_url }}" class="social__link">
    <i class="fa fa-{{ section.settings.social_icon_5_name }}"></i>
  </a>
</li>
{% endif %}