{% assign itemStyle = '' %}{% if cart.item_count == 0 %}{% assign itemStyle = ' style="display:none;"' %}{% endif %}
{% assign itemEmpty = '' %}{% if cart.item_count == 0 %}{% assign itemEmpty = ' style="display:block;"' %}{% endif %}
{% assign itemCount = '' %}{% if cart.item_count == 1 %}{% assign itemCount = ' style="display:block;"' %}{% endif %}
{% assign itemCount2 = '' %}{% if cart.item_count > 1 %}{% assign itemCount2 = ' style="display:block;"' %}{% endif %}


{% comment %}

{%- assign item_count = cart.item_count -%}
<span class="bigcounter">{{ item_count }}</span>
<span class="item-single-item-count" {{ itemCount }}>{{ section.settings.cart_item_title }}</span> 
<span class="item-multiple-item-count" {{ itemCount2 }}>{{ section.settings.cart_items_title }}</span>
<span class="cart-empty-title" {{ itemEmpty }}>{{ section.settings.cart_items_title }}</span>
|
<span class="shopping-cart__total">{{ cart.total_price | money }}</span>


<ul>  
  <li class="cart-empty-title" {{ itemEmpty }}>
    <h3>{{ 'cart.general.empty' | t }}</h3>
  </li>
  <li class="single-product-cart single-cart-item-loop" {{ itemStyle  }}>
    {% for item in cart.items %}
    <div class="cart-single-item">
      <div class="cart-img">
        <a href="{{ item.url }}"><img src="{{ item | img_url: 'small' }}" alt=""></a>
      </div>
      <div class="cart-title">
        <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
        <span>{{ section.settings.quantity_itltle }}  {{ item.quantity }} x {{ item.price | money }}</span>
      </div>
      <div class="cart-delete">
        <a href="javascript:void(0);" onclick="Shopify.removeItem({{ item.variant.id }})">Remove</a>
      </div>
    </div>
    {% endfor %}
  </li>
  <li class="single-product-cart mini-cart-action" {{ itemStyle  }}>
    <div class="cart-total">
      <h4>{{ 'cart.label.total' | t }}: <span class="shopping-cart__total">{{ cart.total_price | money }}</span></h4>
    </div>
  </li>
  <li class="single-product-cart mini-cart-action" {{ itemStyle  }}>
    <div class="cart-checkout-btn">
      <a class="btn-hover cart-btn-style" href="/cart">{{ section.settings.view_cart_title }}</a>
      <a class="no-mrg btn-hover cart-btn-style" href="/checkout">{{ section.settings.checkout_title }}</a>
    </div>
  </li>
</ul>


{% endcomment %}


<div class="mini-cart-inner cart-empty-title" {{ itemEmpty }}>
  <h5 class="mini-cart__heading mb--40 mb-lg--30">{{ 'cart.general.empty' | t }}</h5>
</div>

<div class="mini-cart-inner single-product-cart" {{ itemStyle }}>
  <h5 class="mini-cart__heading mb--40 mb-lg--30">{{ section.settings.cart_title }}</h5>
  <div class="mini-cart__content">
    <ul class="mini-cart__list single-cart-item-loop">

      {% for item in cart.items %}
      <li class="mini-cart__product">
        <a href="javascript:void(0);" onclick="Shopify.removeItem({{ item.variant.id }})" class="remove-from-cart remove">
          <i class="dl-icon-close"></i>
        </a>
        <div class="mini-cart__product__image">
          <img src="{{ item | img_url: 'small' }}" alt="{{ item.alt }}">
        </div>
        <div class="mini-cart__product__content">
          <a class="mini-cart__product__title" href="{{ item.url }}">{{ item.title }}</a>
          <span class="mini-cart__product__quantity">{{ item.quantity }} x {{ item.price | money }}</span>
        </div>
      </li>
      {% endfor %}

    </ul>

    <div class="mini-cart__total">
      <span>{{ 'cart.label.total' | t }}</span>
      <span class="ammount shopping-cart__total">{{ cart.total_price | money }}</span>
    </div>

    <div class="mini-cart__buttons">
      <a href="/cart" class="btn btn-fullwidth btn-style-1">{{ section.settings.view_cart_title }}</a>
      <a href="/checkout" class="btn btn-fullwidth btn-style-1">{{ section.settings.checkout_title }}</a>
    </div>


  </div>
</div>