<!-- Product Carousel area Start Here -->
<section class="product-carousel-area" id="section-{{ section.id }}" data-section="DealProduct">
  <div class="{% if section.settings.container_style == 'style_1' %}container {% else %} container-fluid{% endif %}">
    {% if section.settings.section_title != '' or section.settings.section_description != '' %}
    <div class="row mb--40 mb-md--25">
      <div class="col-12 text-{% if section.settings.section_text_align == 'section_text_left' %}left{% elsif section.settings.section_text_align == 'section_text_center' %}center{% elsif section.settings.section_text_align == 'section_text_right' %}right{% endif %}">
        <h2 class="heading-secondary">{{ section.settings.section_title }}</h2>
        {% if section.settings.section_title_border %}
        <hr class="separator mt--15 mb--20">
        {% endif %}
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-12">
        
           
          {%- capture data_slick_activation -%}
          data-slick='{
              {%- if section.settings.autoplay_true -%}
              "autoplay": true,
              "autoplaySpeed": {{ section.settings.autoplay_speed }},
              {%- endif -%}
                                 
                                 {% if settings.rtl_enable %} "rtl": true,{% endif %} 
                                 "slidesToScroll": 1,
               "slidesToShow": {{ section.settings.product_column }},
                "responsive":[
                    {"breakpoint":992, "settings": {"slidesToShow": {{ section.settings.product_column_md }}} },
                    {"breakpoint":768, "settings": {"slidesToShow": {{ section.settings.product_column_sm }}} },
                    {"breakpoint":480, "settings": {"slidesToShow": {{ section.settings.product_column_sm }}} }
                  ] 

          }'
  		 {%- endcapture -%}
        
        <div class="airi-element-carousel slick-gutter-60 product-carousel dot-style-2 dot-center cs-mt--5" {% if settings.rtl_enable %} dir="rtl"{% endif %} {{ data_slick_activation }}>


          {% assign featured_product = collections[section.settings.featured_product_handle] %}
          {% assign featured_product_limit = section.settings.featured_product_limit_handle %}

          {%- if featured_product == empty -%}
          {% assign a = 1 %}
          {% for i in (1..featured_product_limit) %}

          {% assign product_item = "product-" | append: a  %}
          {% assign a = a | plus: 1 %}


          <div class="airi-product">
            <div class="product-inner">
              <figure class="product-image">
                <div class="product-image--holder">

                  <a href="{{ product.url | within: collection }}" style="background: #f2f2f2;">
                    {{ product_item | placeholder_svg_tag: 'my-custom-class' }}
                  </a>

                </div>
              </figure>
              <div class="product-info">
                <h3 class="product-title popup_cart_title">
                  <a href="#">Product Title</a>
                </h3>
                <span class="product-price-wrapper">
                  <span class="money">$49.00</span>
                  <span class="product-price-old">
                    <span class="money">$60.00</span>
                  </span>
                </span>
              </div>
            </div>
          </div>



          {% if a == 7 %}
          {% assign a = 1 %}
          {% endif %}
          {% endfor %}

          {%- else -%}



          {% for product in featured_product.products limit: featured_product_limit %}
          
          {% if settings.product_style == 'style_1' %}
              {%- include 'product-grid-item' -%}
              {% else %}
              {%- include 'product-grid-item-2' -%}
              {% endif %}

          {% endfor %}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Carousel area End Here -->




{%- style -%}
  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {%- when 'section_background' -%}    
    background: {{ block.settings.section_bg_color }} 
      {%- if block.settings.section_bg_image -%}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
    {%- endcase -%}
    {%- endfor -%}
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_md }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_md }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }


#section-{{ section.id }}  .heading-secondary {
    color: {{ section.settings.section_title_color }};
}

#section-{{ section.id }} .separator {
    border-color: {{ section.settings.section_border_color }};
}

#section-{{ section.id }} .dot-style-2 .slick-dots li button {
	background-color: {{ section.settings.dot_bg_color }};
    border: 1px solid {{ section.settings.dot_border_color }};
}

#section-{{ section.id }} .dot-style-2 .slick-dots li.slick-active button {
	background-color: {{ section.settings.dot_bg_active_color }};
    border: 1px solid {{ section.settings.dot_active_border_color }};
}

{%- endstyle -%}


{% schema %}
  {
    "name": "Deal of Product",
    "settings": [
		 {
              "type": "header",
              "content": "Container Style"
         },
         {
              "type": "radio",
              "id": "container_style",
              "label": "Container Style",
              "options":[
                 {
                     "value":"style_1",
                     "label": "Container"
                 },
                 {
                     "value":"style_2",
                     "label": "Container Fluid"
                 }
               ],

              "default": "style_2"
        },
		{
		  "type": "header",
          "content": "Section Heading"
        },
		{
          "type": "select",
          "id": "section_text_align",
          "label": "Heading Text Align",
		  "options":[
				{
					"label": "Left",
					"value": "section_text_left"
				},
				{
					"label": "Center",
					"value": "section_text_center"
				},
				{
					"label": "Right",
					"value": "section_text_right"
				}
			],
			"default": "section_text_center"
      	},
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Deal Of The Day"
      	},
		{
          "type": "header",
          "content": "Section Title Border"
        },
        {
          "type": "checkbox",
          "id": "section_title_border",
          "label": "Border Enable",
          "default": false
        },
		{
			"type": "header",
            "content": "Product"
        },
		{
			"type": "collection",
            "id": "featured_product_handle",
            "label": "Select Collection"
        },
		{
            "type": "range",
            "id": "featured_product_limit_handle",
            "min": 2,
            "max": 20,
            "step": 1,
            "label": "Limit",
            "default": 8
        },
		{
			"type": "header",
            "content": "Options"
        },
		{
          "type": "checkbox",
          "id": "autoplay_true",
          "label": "Autoplay Enable",
          "default": false
      	},
		{
            "type": "range",
            "id": "autoplay_speed",
            "min": 1000,
            "max": 9000,
            "step": 1000,
            "label": "Autoplay Speed",
            "unit": "ms",
            "default": 5000
        },
		{
			"type": "header",
            "content": "Product Carousel Column"
        },
		{
            "type": "range",
            "id": "product_column",
            "min": 1,
            "max": 12,
            "step": 1,
            "label": "Desktop",
            "default": 4
        },
		{
            "type": "range",
            "id": "product_column_md",
            "min": 1,
            "max": 12,
            "step": 1,
            "label": "Tablet",
            "default": 2
        },
		{
            "type": "range",
            "id": "product_column_sm",
            "min": 1,
            "max": 12,
            "step": 1,
            "label": "Mobile",
            "default": 1
        },
		{
          "type": "header",
          "content": "Color"
        }, 
        {
           "type": "color",
           "id": "section_title_color",
           "label": "Section Title Color",
           "default": "#282828"
        }, 
        {
           "type": "color",
           "id": "section_border_color",
           "label": "Border Color",
           "default": "#cf987e"
        }, 
        {
           "type": "color",
           "id": "dot_bg_color",
           "label": "Dot BG Color",
           "default": "#fff"
        }, 
        {
           "type": "color",
           "id": "dot_border_color",
           "label": "Dot Border Color",
           "default": "#DFDFDF"
        }, 
        {
           "type": "color",
           "id": "dot_bg_active_color",
           "label": "Dot BG Active Color",
           "default": "#cf987e"
        }, 
        {
           "type": "color",
           "id": "dot_active_border_color",
           "label": "Dot Border Active Color",
           "default": "#cf987e"
        }
	],
	"blocks":[
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Deal of Product",
		  "category": " collections",
		  "blocks":[
				{
					"type": "section_padding"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
