
<!-- Fullwide Banner area Start Here -->
<section class="fullwide-banner-area fullwide-banner-bg-2" id="section-{{ section.id }}">
  <div class="{% if section.settings.container_style == 'style_1' %}container {% else %} container-fluid p-0{% endif %}">
    <div class="row no-gutters justify-content-{% if section.settings.banner_content_position == 'content_position_left' %}start{% elsif section.settings.banner_content_position == 'content_position_center' %}center{% elsif section.settings.banner_content_position == 'content_position_end' %}end{% endif %}">
      <div class="col-xl-8 col-lg-8 text-{% if section.settings.text_style == 'text_style_left' %}left{% elsif section.settings.text_style == 'text_style_center' %}center{% elsif section.settings.text_style == 'text_style_right' %}right{% endif %}">
        {% if section.settings.banner_subtitle != ''  %}
        <h3 class="heading-tertiary heading-color">{{ section.settings.banner_subtitle }}</h3>
        {% endif %}
        {% if section.settings.banner_title != ''  %}
        <h1 class="heading-bigger heading-color font-weight-300 mb--40 mb-md--30">{{ section.settings.banner_title }}</h1>
        {% endif %}
        {% if section.settings.banner_button != ''  %}
        <a href="{{ section.settings.banner_button_url }}" class="btn btn-3 btn-style-1 btn-medium">{{ section.settings.banner_button }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- Fullwide Banner area End Here -->



{%- style -%}

  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {%- when 'section_background' -%}    
    background: {{ block.settings.section_bg_color }} 
      {%- if block.settings.section_bg_image -%}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
    {%- endcase -%}
    {%- endfor -%}
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_md }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_md }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }

#section-{{ section.id }} .heading-tertiary.heading-color {
    color: {{ section.settings.sub_title_color }}!important;
}
#section-{{ section.id }} .heading-bigger.heading-color {
    color: {{ section.settings.section_title_color }}!important;
}

#section-{{ section.id }} .btn-style-1.btn-3 {
background-color: {{ section.settings.button_bg_color }};
color: {{ section.settings.button_text_color }}!important;
border-color:  {{ section.settings.button_border_color }};
}
#section-{{ section.id }} .btn-style-1.btn-3:hover {
color: {{ section.settings.button_text_hover_color }}!important;
background-color: {{ section.settings.button_bg_hover_color }};
border-color: {{ section.settings.button_border_hover_color }};
}





{%- endstyle -%}




{% schema %}
  {
    "name": "Fullied Banner 2",
    "settings": [
		{
              "type": "header",
              "content": "Container Style"
         },
         {
              "type": "radio",
              "id": "container_style",
              "label": "Container Style",
              "options":[
                 {
                     "value":"style_1",
                     "label": "Container"
                 },
                 {
                     "value":"style_2",
                     "label": "Container Fluid"
                 }
               ],

              "default": "style_2"
        },
        {
          "type": "header",
          "content": "Banner Content Position"
        },
        {
          "type": "select",
          "id": "banner_content_position",
          "label": "Content Position",
          "options":[
            {
              "value":"content_position_left",
              "label": "Left"
            },
            {
              "value":"content_position_center",
              "label": "center"
            },
            {
              "value":"content_position_end",
              "label": "end"
            }
          ],
          "default": "content_position_left"
        },
        {
          "type": "header",
          "content": "Banner"
        },
        {
          "type": "select",
          "id": "text_style",
          "label": "Text Align",
          "options":[
            {
              "value":"text_style_left",
              "label": "Left"
            },
            {
              "value":"text_style_center",
              "label": "center"
            },
            {
              "value":"text_style_right",
              "label": "right"
            }
          ],
          "default": "text_style_center"
        },
        {
          "type": "text",
          "id": "banner_subtitle",
          "label": "Banner Subtitle",
          "default": "Cotton cashmere-blend sweater"
        },
        {
          "type": "text",
          "id": "banner_title",
          "label": "Banner Title",
          "default": "SALE 30%"
        },
        {
          "type": "text",
          "id": "banner_button",
          "label": "Button Title",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "banner_button_url",
          "label": "URL"
        },
          {
            "type": "header",
            "content": "Color"
          },
          {
             "type": "color",
             "id": "sub_title_color",
             "label": "Sub-title Color",
             "default": "#282828"
          },
          {
             "type": "color",
             "id": "section_title_color",
             "label": "Section Title Color",
             "default": "#282828"
          }, 
          {
             "type": "color",
             "id": "button_text_color",
             "label": "Button Text Color",
             "default": "#ffffff"
          },  
          {
             "type": "color",
             "id": "button_bg_color",
             "label": "Button BG Color",
             "default": "#cf987e"
          },  
          {
             "type": "color",
             "id": "button_border_color",
             "label": "Button Border Color",
             "default": "#cf987e"
          }, 
          {
             "type": "color",
             "id": "button_text_hover_color",
             "label": "Button Text Hover Color",
             "default": "#fff"
          },  
          {
             "type": "color",
             "id": "button_bg_hover_color",
             "label": "Button BG Hover Color",
             "default": "#cf987e"
          }, 
          {
             "type": "color",
             "id": "button_border_hover_color",
             "label": "Button Border Hover Color",
             "default": "#cf987e"
          }
	],
	"blocks":[
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Fullied Banner 2",
		  "category": " banner",
		  "blocks":[
				{
					"type": "section_padding"
				},
				{
					"type": "section_background"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
