<!-- Testimonial Start Here -->
<section class="testimonial-area" id="section-{{ section.id }}" data-section="Testimonial_2">
  <div class="{% if section.settings.container_style == 'style_1' %}container {% else %} container-fluid{% endif %}">
    {% if section.settings.section_title != '' or section.settings.section_description != '' %}
    <div class="row justify-content-{% if section.settings.text_style == 'text_style_left' %}left{% elsif section.settings.text_style == 'text_style_center' %}center{% elsif section.settings.text_style == 'text_style_right' %}end{% endif %} mb--35 mb-md--30">
      <div class="col-lg-8 text-{% if section.settings.text_style == 'text_style_left' %}left{% elsif section.settings.text_style == 'text_style_center' %}center{% elsif section.settings.text_style == 'text_style_right' %}right{% endif %}">
        <h2 class="heading-secondary color--white font-bold text-uppercase">{{ section.settings.section_title }}</h2>
        {% if section.settings.section_title_border %}
        <hr class="separator separator-color-2 center mt--25 mb--30">   
        {% endif %}
        <p class="font-size-16 color--white">{{ section.settings.section_description }}</p>                     
      </div>
    </div>
    {% endif %}
    <div class="row no-gutters">
      <div class="col-12">
        
          {%- capture data_slick_activation -%}
          data-slick='{
        "spaceBetween": 30,
              {%- if section.settings.autoplay_true -%}
              "autoplay": true,
              "autoplaySpeed": {{ section.settings.autoplay_speed }},
              {%- endif -%}
                                 {% if settings.rtl_enable %} "rtl": true,{% endif %} 
                                 "slidesToScroll": 2,
               "slidesToShow": {{ section.settings.testimonial_column }},
                "responsive":[
                    {"breakpoint":992, "settings": {"slidesToShow": {{ section.settings.testimonial_column_md }}} },
                    {"breakpoint":768, "settings": {"slidesToShow": {{ section.settings.testimonial_column_sm }}} },
                    {"breakpoint":480, "settings": {"slidesToShow": {{ section.settings.testimonial_column_sm }}} }
                  ]

          }'
  		 {%- endcapture -%}
        
        <div class="airi-element-carousel testimonial-carousel" {% if settings.rtl_enable %} dir="rtl"{% endif %} {{ data_slick_activation }}>

              {% for block in section.blocks %}
          {% case block.type %}
          {% when 'testimonial' %}
          <div class="testimonial testimonial-style-2" id="block-{{ block.id }}">
            <div class="testimonial__inner text-{% if block.settings.text_style == 'text_style_left' %}left{% elsif block.settings.text_style == 'text_style_center' %}center{% elsif block.settings.text_style == 'text_style_right' %}right{% endif %}">
               {% if block.settings.testimonial_description != '' %}
              <p class="testimonial__desc">{{ block.settings.testimonial_description }}</p>
              {% endif %}
              {% if block.settings.rating_enable %}
              <span class="testimonial__rating">
                {% if block.settings.rating == 'rating_1' %}
                <i class="dl-icon-star rated"></i>
                <i class="dl-icon-star"></i>
                <i class="dl-icon-star"></i>
                <i class="dl-icon-star"></i>
                <i class="dl-icon-star"></i>
                {% elsif block.settings.rating == 'rating_2' %}
                <i class="dl-icon-star rated"></i>
                <i class="dl-icon-star rated"></i>
                <i class="dl-icon-star"></i>
                <i class="dl-icon-star"></i>
                <i class="dl-icon-star"></i>
                {% elsif block.settings.rating == 'rating_3' %}
                <i class="dl-icon-star rated"></i>
                <i class="dl-icon-star rated"></i>
                <i class="dl-icon-star rated"></i>
                <i class="dl-icon-star"></i>
                <i class="dl-icon-star"></i>
                {% elsif block.settings.rating == 'rating_4' %}
                <i class="dl-icon-star rated"></i>
                <i class="dl-icon-star rated"></i>
                <i class="dl-icon-star rated"></i>
                <i class="dl-icon-star rated"></i>
                <i class="dl-icon-star"></i>
                {% else %}
                <i class="dl-icon-star rated"></i>
                <i class="dl-icon-star rated"></i>
                <i class="dl-icon-star rated"></i>
                <i class="dl-icon-star rated"></i>
                <i class="dl-icon-star rated"></i>
                <i class="dl-icon-star rated"></i>
                {% endif %}
              </span>
                {% endif %}
               {% if block.settings.client_name != '' or block.settings.client_felling != '' %}
              <div class="testimonial__author" style="justify-content: {% if block.settings.text_style == 'text_style_left' %}left{% elsif block.settings.text_style == 'text_style_center' %}center{% elsif block.settings.text_style == 'text_style_right' %}flex-end{% endif %};">
                {% if block.settings.testimonial_img %}
                <img src="{{ block.settings.testimonial_img | img_url: 'master' }}" alt="{{ block.settings.testimonial_img.alt }}" class="testimonial__author--img">
                {% endif %}
                <h3 class="testimonial__author--name">{{ block.settings.client_name }}</h3>
                <p class="testimonial__author--designation">{{ block.settings.client_felling }}</p>
              </div>
                  {% endif %}
            </div>
          </div>
       {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonial End Here --> 


{%- style -%}


       {% for block in section.blocks %}
          {% case block.type %}
          {% when 'testimonial' %}


#block-{{ block.id }} .testimonial__rating i.rated {
    color: {{ block.settings.testimonial_rating_check_color }};
}
#block-{{ block.id }} .testimonial__rating i {
  color: {{ block.settings.testimonial_rating_color }};
}

#block-{{ block.id }} .testimonial__desc{
	color: {{ block.settings.testimonial_description_color }};
}

#block-{{ block.id }} .testimonial__author--name {
   color: {{ block.settings.author_name_color }};
}
#block-{{ block.id }} .testimonial__author--designation{
    color: {{ block.settings.author_designation_color }}
}


       {% endcase %}
          {% endfor %}


  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {%- when 'section_background' -%}    
    background: {{ block.settings.section_bg_color }} 
      {%- if block.settings.section_bg_image -%}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
    {%- endcase -%}
    {%- endfor -%}
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_md }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_md }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }

#section-{{ section.id }}  .color--white.heading-secondary  {
    color: {{ section.settings.section_title_color }}!important;
}

#section-{{ section.id }} .separator {
    border-color: {{ section.settings.section_border_color }};
}

#section-{{ section.id }}  p.color--white {
    color: {{ section.settings.section_description_color }}!important;
}


{%- endstyle -%}




{% schema %}
  {
    "name": "Testimonial Area 2",
    "settings": [
		{
          "type": "header",
          "content": "Container Style"
        },
        {
            "type": "radio",
            "id": "container_style",
            "label": "Container Style",
            "options":[
              {
                  "value":"style_1",
                  "label": "Container"
              },
              {
                  "value":"style_2",
                  "label": "Container Fluid"
              }
            ],

           "default": "style_1"
        },
		{
		  "type": "header",
          "content": "Section Title"
        },
        {
          "type": "select",
          "id": "text_style",
          "label": "Heading Text Align",
          "options":[
            {
              "value":"text_style_left",
              "label": "Left"
            },
            {
              "value":"text_style_center",
              "label": "center"
            },
            {
              "value":"text_style_right",
              "label": "right"
            }
          ],
          "default": "text_style_center"
        },
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "What Clients Say ?"
      	},
		{
          "type": "header",
          "content": "Section Title Border"
        },
        {
          "type": "checkbox",
          "id": "section_title_border",
          "label": "Border Enable",
          "default": false
        },
		{
          "type": "textarea",
          "id": "section_description",
          "label": "Section Description",
          "default": "Integer ut ligula quis lectus fringilla elementum porttitor sed est. Duis fringilla efficitur ligula sed lobortis. Sed tempus faucibus mi, quis fringilla mauris lacinia sed"
      	},
		{
			"type": "header",
            "content": "Options"
        },
		{
          "type": "checkbox",
          "id": "autoplay_true",
          "label": "Autoplay Enable",
          "default": false
      	},
		{
            "type": "range",
            "id": "autoplay_speed",
            "min": 1000,
            "max": 9000,
            "step": 1000,
            "label": "Autoplay Speed",
            "unit": "ms",
            "default": 5000
        },
		{
			"type": "header",
            "content": "Testimonial Carousel Column"
        },
		{
            "type": "range",
            "id": "testimonial_column",
            "min": 1,
            "max": 12,
            "step": 1,
            "label": "Desktop",
            "default": 2
        },
		{
            "type": "range",
            "id": "testimonial_column_md",
            "min": 1,
            "max": 12,
            "step": 1,
            "label": "Tablet",
            "default": 1
        },
		{
            "type": "range",
            "id": "testimonial_column_sm",
            "min": 1,
            "max": 12,
            "step": 1,
            "label": "Mobile",
            "default": 1
        },
		{
          "type": "header",
          "content": "Color"
        },
        {
           "type": "color",
           "id": "section_title_color",
           "label": "Section Title Color",
           "default": "#ffffff"
        }, 
        {
           "type": "color",
           "id": "section_border_color",
           "label": "Border Color",
           "default": "#cf987e"
        },
        {
           "type": "color",
           "id": "section_description_color",
           "label": "Section Description Color",
           "default": "#ffffff"
        }
	],
	"blocks":[
       {
           "type": "testimonial",
           "name": "Testimonial",
           "settings": [
			  {
                "type": "select",
                "id": "text_style",
                "label": "Text Align",
                "options":[
                  {
                    "value":"text_style_left",
                    "label": "Left"
                  },
                  {
                    "value":"text_style_center",
                    "label": "center"
                  },
                  {
                    "value":"text_style_right",
                    "label": "right"
                  }
                ],
                "default": "text_style_left"
              },
			  {
                  "type": "textarea",
                  "id": "testimonial_description",
                  "label": "Testimonial Description",
                  "default": "Maecenas eu accumsan libero. Fusce id imperdiet felis. Cras sed ex vel turpis ultricies blandit nec et massa. Pellentesque lectus turpis, vestibulum eu interdum vel."
              },
              {
                "type": "header",
                "content": "Rating"
              },
              {
                "type": "checkbox",
                "id": "rating_enable",
                "label": "Rating Enable",
                "default": true
              },
              {
                  "type": "radio",
                  "id": "rating",
                  "label": "Rating",
                  "options":[
                    {
                        "value":"rating_1",
                        "label": "Rating 1"
                    },
                    {
                        "value":"rating_2",
                        "label": "Rating 2"
                    },
                    {
                        "value":"rating_3",
                        "label": "Rating 3"
                    },
                    {
                        "value":"rating_4",
                        "label": "Rating 4"
                    },
                    {
                        "value":"rating_5",
                        "label": "Rating 5"
                    }
                  ],

                 "default": "rating_1"
              },
              {
                  "type": "image_picker",
                  "id": "testimonial_img",
                  "label": "Image",
                  "info": "Recommended Size: 54 x 54px"
              },
              {
                  "type": "text",
                  "id": "client_name",
                  "label": "Client Name",
                  "default": "Lura Frazier"
              },
              {
                  "type": "text",
                  "id": "client_felling",
                  "label": "Client Felling",
                  "default": "Happy Client"
              },
              {
                "type": "header",
                "content": "Color"
              },
              {
                 "type": "color",
                 "id": "testimonial_description_color",
                 "label": "Description Color",
                 "default": "#282828"
              },
              {
                 "type": "color",
                 "id": "testimonial_rating_color",
                 "label": "Rating Color",
                 "default": "#8a8a8a"
              },
              {
                 "type": "color",
                 "id": "testimonial_rating_check_color",
                 "label": "Client Rating Color",
                 "default": "#9a512f"
              },
              {
                 "type": "color",
                 "id": "author_name_color",
                 "label": "Author Name Color",
                 "default": "#282828"
              },
              {
                 "type": "color",
                 "id": "author_designation_color",
                 "label": "Author Designation Color",
                 "default": "#282828"
              }
           ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Testimonial Area 2",
		  "category": " about",
		  "blocks":[
				{
					"type": "testimonial"
				},
				{
					"type": "testimonial"
				},
				{
					"type": "testimonial"
				},
				{
					"type": "section_padding"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
